<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B&R</title>
    <link rel="stylesheet" href="/public/stylesheets/tailwind.css">
    <link rel="stylesheet" href="/public/stylesheets/main.css">

    <!-- fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Sen&display=swap" rel="stylesheet">
</head>
<!-- end of head  -->

<!-- start of body  -->

<body class="m-0 p-0 box-border ">
    <div class="modal " id="myModal">
        <div class="modal-content">
            <div class="span w-[355px]">
                <button class="text-black block" id="close">&times;</button>
            </div>
            <div class="my-1 py-1"></div>
            <hr class="border-t-1 border-t-black">
            <div class="my-1 py-1"></div>
            <p class="text-black font-sen text-xs">Are you sure about this?</p>
            <button class="text-black btn">OK</button>
        </div>
    </div>
    <header class="w-full fixed top-0 left-0 bg-white z-10 max-sm:w-[500px] max-md:w-[768px] max-lg:w-[1024px]">
        <div class="w-[200px] m-auto p-4 max-sm:flex justify-between max-sm:w-[500px]">
            <a href="index.html" class="text-3xl no-underline hover:text-[#bba587] font-del">
                <h1>Books & Reviews</h1>
            </a>

            <button class="hidden mr-2 border hover:border-gray-400 max-sm:block" id="menu">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
            </button>
        </div>
        
        <hr class="border-t-1 border-t-black">

        <nav class="w-[450px] mx-auto pt-3 pb-3 max-sm:hidden">
            <a href="../index.html" class="inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">Home</a>
            <a href="../posts.html" class="inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">Posts</a>
            <a href="../about.html" class="inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">About us</a>
            <a href="../index.html#contact" class="inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">Contact us</a>
            <a href="../logout.html" class="no-underline inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">Log out</a>
        </nav>
        <!-- <hr class="border-t-1 border-t-black"> -->
      
        <div class="hidden w-[200px] absolute bg-white z-10 flex flex-col border items-center ml-[280px]" id="navshow">
            <a href="../index.html" class="inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">Home</a>
            <a href="../posts.html" class="inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">Posts</a>
            <a href="../about.html" class="inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">About us</a>
            <a href="../index.html#contact" class="inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">Contact us</a>
            <a href="../logout.html" class="no-underline inline-block pt-3 pb-3 px-3 hover:border-b-2 border-b-black font-sen">Log out</a>
        </div>
          
    </header>

    <!-- end of header  -->

    <main class="container  w-full mb-[200px] z-0 mt-[150px]  max-sm:w-[500px] max-sm:mt-0 max-md:w-[768px] max-lg:w-[1024px]">
        <hr class="border-t-1 border-t-black">
        <div class="my-5 py-3"></div>
        <section class="max-w-[90em] max-sm:mt-[55px] mx-auto">
            <div class="">
                <div class="row grid grid-cols-3 grid-rows-2 gap-7 max-sm:grid-cols-1 max-sm:grid-rows-3">
                    <div class="col1 p-3 border shadow-xl px-12">
                        <img src="/public/images/bg-books.jpg" alt="profile picture"
                        class="w-[400px] h-[400px] rounded-[50%]">
                        <div class="my-1 py-3"></div>
                        <div class="">
                            <h4 class="font-sen font-bold text-[20px]">Theola writer</h4>
                            <div class="flex my-3 p-2  gap-7 shadow-lg">
                                <p class="text-center  p-2">
                                    <strong>13.5k</strong>
                                    <br>
                                    <span class="font-sen font-light text-[13px]">subscribers</span>
                                </p>

                                <p class="text-center  p-3">
                                    <strong>10</strong>
                                    <br>
                                    <span class="font-sen font-light text-[13px]">posts</span>
                                </p>
                            </div>
                            <div class="my-1 py-1"></div>
                            <div class="flex gap-4">
                                <a href="" class="border border-black p-2  block w-[100px] bg-[#959d90] text-white text-center">subscribe</a>
                                <div class="px-1"></div>
                                <a href="" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">unsubscribe</a>
                            </div>
                            <div class="my-1 py-1"></div>
                            <div class="p-2 mb-4">
                                <h5 class="font-sen font-bold text-[15px] pb-2">Bio</h5>
                                <p class="font-sen font-light text-[13px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab qui earum dolorum? Repellendus saepe itaque vero expedita facilis nesciunt nostrum,
                                laboriosam architecto? Ea neque tenetur, qui facere sunt explicabo.
                            </p>
                            </div>
                        </div>
                    </div>

                    <div class="col2 col-span-2 max-sm:mt-[50px]">
                        <div class="flex gap-4 max-sm:px-3 new">
                            <a href="create.html" class="border border-black p-2  block w-[100px] bg-[#959d90] text-white text-center">new post</a>
                            <div class="px-1"></div>
                            <a href="editprofile.html" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">edit profile</a>
                            <div class="px-1"></div>
                        </div>
                        <div class="my-3 py-1"></div>
                        <div class="my-3 py-1"></div>
                        <div class="row my-[100px]   flex flex-row gap-6 justify-around flex-wrap max-sm:flex-col mt-1 mb-5">
                            <h5 class="text-xl h5 font-semibold font-sen ">Posts</h5>
                            <div class="col  flex border  gap-2 w-[450px] h-[200px]">
                                <img src="/public/images/bg-books.jpg" alt="blog-image" class="p-2 rounded-[10px] w-[150px] h-[200px]">
                                <div class=" w-[350px] h-[200px] p-2">
                                    <a href="post.html" class="text-xl font-semibold font-sen block mb-3 hover:underline">
                                        <h5 class="">Title of blogTitle of blogTitle of blogTitle of blogTitle of blog</h5>
                                    </a>
                                    
                                    <p class="font-sen font-extralight text-stone-600">Author Nmae</p>
                                    <p class="font-sen font-extralight text-stone-600">time written</p>  
                                    
                                    <div class="my-0 py-1"></div>

                                    <div class="flex gap-7 w-[205px]">
                                        <a href="edit.html" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">edit post</a>
                                        <a  id="modalBtn" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">delete post</a>
                                    </div>
                                    
                                </div>
                                
                            </div>

                            <div class="col  flex border  gap-2 w-[450px] h-[200px]">
                                <img src="/public/images/bg-books.jpg" alt="blog-image" class="p-2 rounded-[10px] w-[150px] h-[200px]">
                                <div class=" w-[350px] h-[200px] p-2">
                                    <a href="post.html" class="text-xl font-semibold font-sen block mb-3 hover:underline">
                                        <h5 class="">Title of blogTitle of blogTitle of blogTitle of blogTitle of blog</h5>
                                    </a>
                                    
                                    <p class="font-sen font-extralight text-stone-600">Author Nmae</p>
                                    <p class="font-sen font-extralight text-stone-600">time written</p>  
                                    
                                    <div class="my-0 py-1"></div>
                                    
                                    <div class="flex gap-7 w-[205px]">
                                        <a href="edit.html" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">edit post</a>
                                        <a  id="modalBtn" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">delete post</a>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col  flex border  gap-2 w-[450px] h-[200px]">
                                <img src="/public/images/bg-books.jpg" alt="blog-image" class="p-2 rounded-[10px] w-[150px] h-[200px]">
                                <div class=" w-[350px] h-[200px] p-2">
                                    <a href="post.html" class="text-xl font-semibold font-sen block mb-3 hover:underline">
                                        <h5 class="">Title of blogTitle of blogTitle of blogTitle of blogTitle of blog</h5>
                                    </a>
                                    
                                    <p class="font-sen font-extralight text-stone-600">Author Nmae</p>
                                    <p class="font-sen font-extralight text-stone-600">time written</p>  
        
                                    <div class="my-0 py-1"></div>

                                    <div class="flex  gap-7 w-[205px]">
                                        <a href="edit.html" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">edit post</a>
                                        <a  id="modalBtn" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">delete post</a>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col  flex border  gap-2 w-[450px] h-[200px]">
                                <img src="/public/images/bg-books.jpg" alt="blog-image" class="p-2 rounded-[10px] w-[150px] h-[200px]">
                                <div class=" w-[350px] h-[200px] p-2">
                                    <a href="post.html" class="text-xl font-semibold font-sen block mb-3 hover:underline">
                                        <h5 class="">Title of blogTitle of blogTitle of blogTitle of blogTitle of blog</h5>
                                    </a>
                                    
                                    <p class="font-sen font-extralight text-stone-600">Author Nmae</p>
                                    <p class="font-sen font-extralight text-stone-600">time written</p>  
                                    
                                    <div class="my-0 py-1"></div>
                                    
                                    <div class="flex gap-7 w-[205px]">
                                        <a href="edit.html" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">edit post</a>
                                        <a id="modalBtn" class="border border-black p-2 block w-[100px] text-black text-center bg-[#e8ebe5] hover:bg-[#959d90] hover:text-white">delete post</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <!-- modal content  -->

       
      
        
    </main>
   

    <!-- <div class="w-full mt-20"></div>
        <div class="w-full mt-20"></div>  -->
        <!-- <hr class="border-t-1 z-0 border-t-black"> -->

    <footer class="bg-[#959d90] mt-24">
        <div class="text-center p-5">
            <p class="font-sen font-light">All rights reserved <span>&copy;2023</span> Books & Reviews</p>
        </div>
    </footer>
</body>
<script src="/public/javascript/main.js"></script>
</html>


  